.*
_site/
.sass-cache/
node_modules/
vendor/
*.lock
!Gemfile.lock
!pnpm-lock.yaml
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.gitmodules
!.mailmap
!.pre-commit-config.yaml
!.reuse
!.prettierrc
!.prettierignore
